<br>
<br>

<center>

<%= form_for @booking, url: "/admin/users/#{@user.id}/reservation", html: { method: :post } do |f| %>
  <div class="my-5">
    <table class="table table-hover" style="width:40%">
      <tr>
        <th class="align-middle" style="width: 70%"> RÉCOLTE PRINTEMPS <%= Time.new.year %> </th>
        <th class="align-middle" style="width: 30%"> Quantité </th>
      </tr>
      <% @products_spring.each do |product| %>
        <tr id="product-<%= product.id %>">
          <td class="align-middle"><%= f.label product.description %></td>
          <td class="align-middle"><%= f.number_field (product.description + '_' + product.season).to_sym, :value => @booking[(product.description + '_' + product.season).to_sym], placeholder: '0' %></td>
        </tr>
      <% end %>
    </table>
  </div>

 <br><br>

 <div class="my-5">
    <table class="table table-hover" style="width:40%">
      <tr>
        <th style="align-middle" style="width: 70%"> RÉCOLTE ÉTÉ <%= Time.new.year %> </th>
        <th style="align-middle" style="width: 30%"> Quantité </th>
      </tr>
      <% @products_summer.each do |product| %>
        <tr id="product-<%= product.id %>">
          <td class="align-middle"><%= f.label product.description %></td>
          <td class="align-middle"><%= f.number_field (product.description + '_' + product.season).to_sym, :value => @booking[(product.description + '_' + product.season).to_sym], placeholder: '0' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= f.submit "Confirmer", class: "btn btn-primary" %>
<% end %>

</center>

