
<center>
  <div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>
  <h3> Connectez-vous </h3>
  <br>
  <%= form_tag '/login' do %>
    <p> <%= text_field_tag :email, nil, placeholder: ' Email *' %> </p> 
    <p> <%= password_field_tag :password, nil, placeholder: ' Mot de passe *' %>  </p> 
  <br>
    <%= submit_tag "Se connecter", class: "btn btn-primary" %>
  <br><br><br><br>
  
  <%= link_to "Mot de passe oublié ?", passwords_new_path%>
  <br><br>
  <%= link_to "Je n'ai pas encore de compte", register_path%>
  <% end %>
</div>
</center>