<!DOCTYPE html>

<html>

  <body>
    Bonjour <%= @user.first_name %>, <br>

    <p> Votre réservation de miel sur les Filles d'Antoine a bien été prise en compte. </p>

    <p> Description : </p>

    <ul>
    <% @booking.booking_products.each do |booking_product| %>
      <% unless booking_product.quantity.nil? || booking_product.quantity == 0%>
        <li> <%= booking_product.quantity.to_s%>  &#215; <%= booking_product.product.description + ' - ' + booking_product.product.season + ' ' + booking_product.product.year.to_s %> </li>
      <% end %>
    <% end %>
    </ul>

    <% if @booking.has_comment? %>
      <p> Commentaire : </p>
      <p> <i> " <%= @booking.comment %> "</i> </p>
    <% end %>

    <p> Vous pouvez annuler tout ou partie de vos réservations sur la page 'Mes Réservations' de votre compte. </p>

    <p> La récolte de printemps a généralement lieu à la mi-mai et celle d'été à la fin du mois de juillet.</p>

    <p> Une fois, le miel récolté, Antoine vous informera par email de sa disponibilité. Il ne vous restera plus qu'à venir le retirer en mains propres.</p>

    <p> Réserver des pots ne nécessite aucun pré-paiement et le règlement se fait directement auprès d'Antoine au moment de la réception des produits.</p>

    <p> Note : la quantité de miel produite varie d'année en année, de saison en saison. Le miel est donc distribué dans l'ordre des réservations et dans la limite des stocks disponibles.  </p>

    <p> Cordialement, </p>

    <p> Antoine (et ses filles) </p>

    <% if Rails.env.production? %>
      <%= link_to "Les Filles d'Antoine", "https://www.lesfillesdantoine.com" %>  
    <% else %>
      <%= link_to "Les Filles d'Antoine", "http://localhost:3000" %>  
    <% end %>

  </body>

</html>