<div id=<%= locals[:season] %>>
    <% if locals[:bookings].empty? %>
      <h4> Vous n'avez pas encore de réservations pour la récolte de <%= locals[:season] %> </h4>
    <% else %>
        <h5> Récolte <%= locals[:season] %> <%=locals[:products].first.year %></h5>
        <div class="my-5"></div>
        <table class="table table-hover" style="width: 80%">
          <tr>
            <th class="align-middle"><%= sortable "printemps", "users.last_name", "Client" %></th>
            <th class="align-middle"><%= sortable "printemps", "users.email", "Email" %></th>
            <th class="align-middle" style="text-align:center;"><%= sortable "printemps", "created_at", "Date commande" %></th>
            <% locals[:products].each do |product| %>
              <th class="align-middle" style="text-align:center;"><%= product.description %></th>
            <% end %>
          </tr>
          <% locals[:bookings].each do |booking| %>
            <tr id="booking-<%= booking.id %>">
              <td class="align-middle"><%= link_to booking.user.first_name.capitalize + ' ' + booking.user.last_name.capitalize, "/admin/users/#{booking.user.id}" %></td>
              <td class="align-middle"><%= booking.user.email %></td>
              <td class="align-middle" style="text-align:center;"><%= booking.created_at.strftime("%d/%m/%Y") %></td>
              <% locals[:products].each do |product| %>
                <% quantity = 0 %> 
                <% booking.booking_products.each do |booking_product| %>
                  <% if booking_product.product.season == locals[:season] && product.description == booking_product.product.description %>
                    <% quantity = booking_product.quantity %> 
                  <% end %>
                <% end %>
                <td class="align-middle" style="text-align:center;"><%= quantity %></td>
              <% end %>
          <% end %>
        </table>
    <% end %>
  </div>