<center>
<div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>
<h4> Modifiez votre profil </h4>

  <br>
  <%= form_with model: @user, local: true, url: '/profile', method: :patch do |f| %>
    <p> <%= f.text_field :first_name, :value => @user.first_name %> </p>
    <p> <%= f.text_field :last_name, :value => @user.last_name %> </p>
    <p> <%= f.text_field :email, :value => @user.email %> </p>
    <p> <%= f.text_field :phone_number, :data => {:mask=> '09 99 99 99 99'}, :value => @user.phone_number, :id => "phone_number" %> </p>
    <p> <%= f.text_field :address, :value => @user.address %> </p>
    <p> <%= f.text_field :city, :value => @user.city %> </p>
    <p> <%= f.text_field :zip_code, :value => @user.zip_code %> </p>
    <br>
    <a class="btn btn-outline-secondary" href="/profile"> Annuler</a>
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  <% end %>



