<div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

<h4 style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"><i class="fa fa-address-card" aria-hidden="true"></i> Profil</h4>

<br> <br>

<p style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"><i class="fa fa-user-o" aria-hidden="true"></i>   <%=@user.first_name.capitalize %> <%=@user.last_name.capitalize %> </p>
<p style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>   <%=@user.email%> </p>
<p style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"><i class="fa fa-phone" aria-hidden="true"></i>   <%=@user.phone_number%> </p>
<p style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"><i class="fa fa-map-o" aria-hidden="true"></i>   <%=@user.address%> </p>

<br>

<div style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%">

<a class="btn btn-outline-secondary" href='/profile/edit'><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Modifier</a>
<a class="btn btn-outline-secondary" href='/user/password/edit'><i class="fa fa-key fa-fw" aria-hidden="true"></i>&nbsp; Changer de mot de passe</a> 

<div>