
<% if current_admin %>

  <br><br><br><br>
  <h4><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp; Mon Profil</h4>

  <br> <br>

  <div >
    <%= render "partials/profile_table", locals: {user: @user} %>
  </div>
  <br>

  <a class="btn btn-outline-primary" href='/profile/edit'><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Modifier</a>
  <a class="btn btn-outline-primary" href='/user/password/edit'><i class="fa fa-lock" aria-hidden="true"></i>&nbsp; Changer mot de passe</a> 

<% else %>

  <div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

  <h4 class="<%=browser_type%>-head"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp; Mon Profil</h4>

  <br> 
  <div class="<%=browser_type%>-content">
    <%= render "partials/profile_table", locals: {user: @user} %>
  </div>
  
  <br>

  <div class="<%=browser_type%>-content">
    <% if browser_info.mobile? %> <center> <% end %>
    <a class="btn btn-primary" href='/profile/edit'><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; Modifier votre profil&nbsp;</a>
    <br><br>
    <a class="btn btn-outline-secondary" href='/user/password/edit'><i class="fa fa-lock" aria-hidden="true"></i>&nbsp; Changer mot de passe</a> 
    <% if browser_info.mobile? %> </center> <% end %>
  <div>

<% end %>