<center>

  <div id=<%=browser_info.mobile? ? "bg_mobile" : "bg" %> > 
      <div class=<%=browser_info.mobile? ? "hero-text-mobile" : "hero-text"%> >
        Les Filles d'Antoine
      </div>
  </div>

</center>

<% unless @posts.empty? %>

  <h3 style="font-family: 'lato-bold';padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%; padding-bottom: <%=browser_info.mobile? ? 25 : 20%>px">  <i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp; Les news... </h3>

  <% @posts.each do |post| %>
    <div id= <%="post-#{post.id}" %> style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%" >
      <div class="card img-responsive border-white">
        <div class="card-header">
          <% if browser_info.mobile? %>
            <h5> <b> <%= post.created_at.strftime("%d/%m/%Y") %> - <%= post.title %> </b></h5>
          <% else %>
            <h3> <b> <%= post.created_at.strftime("%d/%m/%Y") %> - <%= post.title %> </b></h3>
          <% end %>
        </div>
        <br> 
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          <%= post.content %>
        </div>
        <br>
        <div style="center;">
          <%= image_tag(post.images[0], size: '500', class: "img-responsive", style: "padding-bottom: 30px; padding-left: 30px; padding-right: 30px;") %>
        </div>
      </div>
      <br> <br>
    </div>
    
  <% end %>
<% end %>


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    
  </div>
</div>
