<center>

<div id="show_bg"> 
  <div class="hero-text-style">
    Les Filles d'Antoine
  </div>
</div>

<br>
<br>
<br>
<br>
</center>

<h2> <b> Les dernières nouvelles </b></h2>

<br>
<br>

<% @posts.each do |post| %>
  <div id= <%="post-#{post.id}" %> >
    <div class="card img-responsive" style="width: 100rem;">
      <div class="card-header">
        <h3> <b> <%= post.created_at.strftime("%d/%m/%Y") %> - <%= post.title %> </b></h3>
      </div>
      <br> 
      <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
        <%= post.content %>
      </div>
      <br>
      <div style="float: left;">
        <%= image_tag(post.images[0], size: '500', class: "img-responsive", style: "padding-bottom: 30px; padding-left: 30px; padding-right: 30px;") %>
      </div>
    </div>
    <br> <br>
    
  </div>
  
<% end %>



