<br>
<br>
<br><br>
<h4> <i class="fa fa-newspaper-o" aria-hidden="true"></i> Mes posts </h4>
<br>
<br>
<a class="btn btn-outline-secondary" href='/admin/posts/new'><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Ajouter un post</a>
<br>
<br>
<br>
<br>
<% @posts.each do |post| %>
  <div id= <%="post-#{post.id}" %> >
    <div class="card img-responsive" style="width: <%=browser_info.mobile? ? 100 : 50%>%">
      <div class="card-header">
        <h3> <b> <%= post.created_at.strftime("%d/%m/%Y") %> - <%= post.title %> </b></h3>
        <a href= <%="/admin/posts/#{post.id}" %> data-method="delete"> <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Effacer</a>
        <a href= <%="/admin/posts/#{post.id}/edit " %>><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Modifier</a>
      </div>
      <br> 
      <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
        <%= post.content %>
      </div>
      <br>
      <div style="float: left;">
        <%= image_tag(post.images[0], size: '500', class: "img-responsive", style: "padding-bottom: 30px; padding-left: 30px; padding-right: 30px;") %>
      </div>
    </div>
    <br> <br>
  </div>
<% end %>
