<div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

<% if current_user %>

  <% if @bookings.empty? %>

      <h4 class="<%= browser_type %>-head" > <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;&nbsp; Vous n'avez pas de réservations </h4>
      <br> <br>
      <%= render "partials/booking_button" %>
      <br>

  <% else %>

      <h4 class="<%= browser_type %>-head"> <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp;&nbsp; Nouvelle Réservation </h4>
      <br><br>
      <%= render "partials/booking_button" %>
      <br><br>
      <h4 class="<%= browser_type %>-head"> <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp; Mes Réservations </h4>
      <br>

      <% @bookings.each do |booking| %>

        <h5 class="<%= browser_type %>-content" > <%= booking.published_at %> </h5>

        <div class="<%= browser_type %>-content" >

          <table class="table table-hover table-sm <%= browser_type %>-table" >

            <thead class="thead-light">
              <tr>
                <th class="align-middle" style="width: 15%"> Produit </th>
                <th class="align-middle" style="width: 30%"> Récolte</th>
                <th class="align-middle" style="width: 4%"> <%= browser_info.mobile? ? 'Qté' : 'Quantité' %>  </div>  </th>
                <th class="align-middle" style="width: 5%"></th>
              </tr>
            </thead>

            <% booking.booking_products.each do |booking_product| %>
              <tr id="product-<%= booking_product.product.id %>">
                <td class="align-middle">  <%= booking_product.product_description  %></td>
                <td class="align-middle"><%= booking_product.season_year  %></td>  
                <td class="align-middle" style="text-align:center"><%= booking_product.quantity %></td>
                <% if booking_product.notified? %>
                  <td class="align-middle"> <span class="badge badge-success">disponible</span> </td>
                <% else %>
                  <td class="align-middle" style="text-align:center"> <a href= <%="/reservation/#{booking_product.id}"%>  data-confirm="Vous allez effacer ce produit de la réservation. Êtes vous sûr(e) ?" data-method="delete">  <i class="fa fa-trash-o" aria-hidden="true"></i> </a> </td>
                <% end %>
              </tr>  
            <% end %>

          </table>

        </div>

        </br>

      <% end %>
    
  <% end %>

<% else %>

  <br> 
  <div class="<%= browser_type %>-booking">
    <a class="btn btn-warning <%=browser_info.mobile? ? '' : 'btn-lg' %> link" aria-pressed="true" role="button" data-toggle="modal" data-target="#connectModal"> Réserver du miel </a>
  </div>
  <br>  

<% end %>

<br>
<h4 class="<%= browser_type %>-head"> <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp; Réservations - mode d'emploi </h4>
<br>

<%= render "partials/booking_manual" %>

<%= render "partials/connexion_modal" %>