<div class="top-nav-content"></div>
<% if @bookings.empty? %>
  <h3> Vous n'avez pas encore de réservations </h3>
<% else %>
  <h4 style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"> <i class="fa fa-calendar" aria-hidden="true"></i> Mes Réservations </h4>
    <div class="my-5"></div>
  <% @bookings.each do |booking| %>
    <% if !booking.booking_products.empty?%>
     <h5 style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"> <%= booking.created_at.strftime("%d/%m/%Y") %> </h5>
     <div style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%">
      <table class="table table-hover" style="width: <%=browser_info.mobile? ? 100 : 80%>%;">
      <tr>
        <th class="align-middle" style="width: 3%"> Description </th>
        <th class="align-middle" style="width: 6%"> Récolte</th>
        <th class="align-middle" style="width: 5%"> Quantité  </th>
        <th class="align-middle" style="width: 5%"></th>
      </tr>
      <% booking.booking_products.each do |booking_product| %>
        <tr id="product-<%= booking_product.product.id %>">
          <td class="align-middle"><i class="fa fa-plus-circle" aria-hidden="true"></i>  <%= booking_product.product.description  %></td>
          <td class="align-middle"><%= booking_product.product.season + ' ' + booking_product.product.year.to_s  %></td>  
          <td class="align-middle"><%= booking_product.quantity %></td>
          <td class="align-middle"> <a href= <%="/reservation/#{booking_product.id}" %> data-method="delete"> <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Annuler</a> </td>
          </td>
        </tr>
      <% end %>
      </table>
      </div>
      </br>
    <% end %>
  <% end %>
  <div style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%">
    <a class="btn btn-outline-secondary" href="/reservation/new"> Réservez du miel !</a>
  </div>
</div>
<% end %>


