
<div class="top-nav-content"> </div>
<% if (!@products_spring.empty? || !@products_summer.empty?) %>
  <h4 style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%"> <i class="fa fa-calendar" aria-hidden="true"></i> Réservez votre miel </h4>
  <div style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%">
  <%= form_for @booking, url: "/reservation", html: { method: :post } do |f| %>
    <% unless @products_spring.empty? %>
      <div class="my-5">
        <table class="table table-hover" style="width: <%=browser_info.mobile? ? 100 : 50%>%">
          <tr>
            <th class="align-middle" style="width: 70%"> Printemps <%= Time.new.year %> </th>
            <th class="align-middle" style="width: 30%"> Quantité </th>
          </tr>
          <% @products_spring.each do |product| %>
            <tr id="product-<%= product.id %>">
              <td class="align-middle"><%= f.label product.description %></td>
              <td class="align-middle"><%= f.number_field (product.description + '_' + product.season).to_sym, :value => @booking[(product.description + '_' + product.season).to_sym], placeholder: '0', max: 100, min: 0, style:"width:40px" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <% unless @products_summer.empty? %>
      <div class="my-5">
          <table class="table table-hover" style="width: <%=browser_info.mobile? ? 100 : 50%>%">
          <tr>
            <th class="align-middle" style="width: 70%"> Eté <%= Time.new.year %> </th>
            <th class="align-middle" style="width: 30%"> Quantité </th>
          </tr>
          <% @products_summer.each do |product| %>
            <tr id="product-<%= product.id %>">
              <td class="align-middle"><%= f.label product.description %></td>
              <td class="align-middle"><%= f.number_field (product.description + '_' + product.season).to_sym, :value => @booking[(product.description + '_' + product.season).to_sym], placeholder: '0', max: 100, min: 0, style:"width:40px" %></td>
            </tr>
          <% end %>
          </table>
      </div>
    <% end %>
    <%= f.submit("Réserver") %>
    </div>
    <br>
    <br>
    <br>
    <h5 style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%;"> Vous serez contacté(e) quand vos pots seront disponibles. </h5>
  <% end %>
<% else %>
  <h5> <i class="fa fa-frown-o" aria-hidden="true"></i>  Désolé, il n'y a pas de pots disponibles pour le moment. Revenez nous rendre visite bientôt! </h5>
<% end %>
