

<br>
  <h4><i class="fa fa-address-card" aria-hidden="true"></i> Profil client </h4>
  <br><br>
  <p><i class="fa fa-user-o" aria-hidden="true"></i>   <%=@user.first_name.capitalize %> <%=@user.last_name.capitalize %> </p>
  <p><i class="fa fa-envelope-open-o" aria-hidden="true"></i>   <%=@user.email%> </p>
  <p><i class="fa fa-phone" aria-hidden="true"></i>   <%=@user.phone_number%> </p>
  <a href= <%="/admin/users/#{@user.id}/edit" %> %><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Modifier</a>
  <br><br><br> 

<h4><i class="fa fa-shopping-basket" aria-hidden="true"></i> Historique des réservations </h4>
 <div class="my-5">
    <table class="table table-hover">

    <tr>
      <th class="align-middle">Date</th>
      <th class="align-middle">Produit</th>
      <th class="align-middle">Saison</th>
      <th class="align-middle">Année</th>
      <th class="align-middle">Quantité</th>
    </tr>

    <% @bookings.each do |booking| %>
      <% booking.booking_products.each do |booking_product| %>
        <% if booking_product.quantity != 0 %>
          <tr>
            <td class="align-middle"><%= booking_product.created_at.strftime("%d/%m/%Y") %></td>
            <td class="align-middle"><%= booking_product.product.description %></td> 
            <td class="align-middle"><%= booking_product.product.season %></td>
            <td class="align-middle"><%= booking_product.product.year %></td>
            <td class="align-middle"><%= booking_product.quantity %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </table>
     <a class="btn btn-outline-secondary" href=<%="/admin//users/#{@user.id}/reservation/new"%> > <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp; Ajouter une réservation</a>
</div>