<br><br><br><br>


  <h4><i class="fa fa-address-card" aria-hidden="true"></i> Profil client </h4>
  <br><br>
  <div>
    <%= render "partials/profile_table", locals: {user: @user} %>
  </div>
  <br>
  <a href= <%="/admin/users/#{@user.id}/edit" %> class="btn btn-outline-secondary" %> Modifier</a>
  <br><br><br> 

<h4><i class="fa fa-shopping-basket" aria-hidden="true"></i> Historique des réservations </h4>
 <div class="my-5">
    <table class="table table-hover" style="width: 840px">

    <tr>
      <th class="align-middle">Date</th>
      <th class="align-middle">Produit</th>
      <th class="align-middle">Saison</th>
      <th class="align-middle" style="text-align:center;">Année</th>
      <th class="align-middle" style="text-align:center;">Quantité</th>
    </tr>

    <% @bookings.each do |booking| %>
      <% booking.booking_products.each do |booking_product| %>
        <% unless booking_product.quantity.zero? %>
          <tr>
            <td class="align-middle"><%= booking_product.published_at %></td>
            <td class="align-middle"><%= booking_product.product_description %></td> 
            <td class="align-middle"><%= booking_product.product_season %></td>
            <td class="align-middle" style="text-align:center;"><%= booking_product.product_year %></td>
            <td class="align-middle" style="text-align:center;"><%= booking_product.quantity %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </table>
     <a class="btn btn-outline-secondary" href=<%="/admin/users/#{@user.id}/reservation/new"%> > <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp; Ajouter une réservation</a>
</div>