<div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

<h4 class="<%=browser_type %>-head"> <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp; Les Produits d'Antoine</h4> 
<br> 
<div class="<%=browser_type %>-content">

  <div class="card img-responsive border-white">
    <div class="card-header h5"> Le miel de printemps </div>
    <br> 
    <div class="product-card-content">
      Le goût et la teinte uniques de chaque miel proviennent de la flore que les abeilles explorent sans relâche (en moyenne, elles évoluent dans un rayon de 2km autour de leur ruche).
      <br> <br>
      Après une période hivernale souvent difficile, les abeilles retrouvent avec plaisir les fleurs de perce-neige au début du printemps ainsi que celles de noisetiers et de saule marsault. 
      <br> <br>
      Dans nos contrées picardes, les premières belles journées sont marquées par l'éclosion de fleurs plus riches en nectar comme le pissenlit, le trèfle ou encore le colza.
      <br> <br>
      Le miel de printemps est caractérisé par un goût subtil et une consistance crémeuse. Il est réputé riche en oligoéléments.
    </div>
    <br>
  </div>
  <br> 

  <div class="card img-responsive border-white">
    <div class="card-header h5"> Le miel d'été </div>
    <br> 
    <div class="product-card-content">
      Pendant l'été, les abeilles profitent des fleurs d'arbres fruitiers comme le pommier, le prunier, le châtaigner ou le tilleul mais sont aussi friandes de bruyère.
      <br><br>
      Certaines fleurs mellifères comme la bourrache que l'on retrouve à l'état sauvage sont également prisées des abeilles qui sont attachées comme nous à la bio-diversité ! 
      <br><br>
       Le miel d'été est caractérisé par un goût plus corsé et une consistance liquide. Tout aussi délicieux que le miel de printemps !
    </div>
    <br>
  </div>
  <br> 

  <div class="card img-responsive border-white">
    <div class="card-header h5"> Les pots d'Antoine </div> 
    <br> 
    <div class="product-card-content">
      Les miels de printemps et d'été sont disponibles en pots de 500g (7€) ou de 1kg (13€). Les pots sont tous en plastique alimentaire.
      <br><br>
      La quantité de miel produite varie d'année en année, de saison en saison. Le miel est donc distribué dans l'ordre des réservations et dans la limite des stocks disponibles. 
      <br><br>
      Nous vous invitons donc à réserver dès maintenant pour la prochaine récolte.
    </div>
    <br> 
  </div>

  <br><br>
  
  <center>
    <% if current_user %>
      <a class= "<%= browser_info.mobile? ? "btn btn-warning link" : "btn btn-warning btn-lg link" %>" role="button" href="/reservation/new"> Réservez du miel</a>
    <% else %>
      <a class="btn btn-warning <%=browser_info.mobile? ? '' : 'btn-lg' %> link" aria-pressed="true" role="button" data-toggle="modal" data-target="#connectModal"> Réserver du miel </a>
    <% end %>
    <br> <br>
  </center>

</div>

<%= render "partials/connexion_modal" %>
