<!DOCTYPE html>
<html style="font-size: 80%;">
  <head>
    <title>Beekeeper</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash alert alert-primary" role="alert">
        <%= msg %>
      </div>
    <% end %>

    <% if current_user %>
      <% if current_user.admin? %>
        <%= render "partials/admin_nav" %>
        <body class="main" >
          <%= yield %>
        </body>
      <% else %>
        <%= render "partials/current_user_nav" %>
        <body style="padding-right: 50px; padding-left: 50px;" >
          <%= yield %>
        </body>
      <% end %>  

    <% else %>
      <% if browser_info.mobile? %>
        <%= render "partials/visitor_mobile_nav" %>
        <body id="main" style="padding-right: 50px; padding-left: 50px;" >
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu</span>
        <script>
          function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
          }
          /* Close/hide the sidenav */
          function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
          }
        </script>
        <%= yield %>
        </body>

      <% else %>

        <%= render "partials/visitor_nav" %>
        
        <body id="main" style="padding-right: 50px; padding-left: 50px;" >
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu</span>

          <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "100%";
            }
            /* Close/hide the sidenav */
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
          </script>
          <%= yield %>
          
        </body>
      <% end %>
    <% end %>

</html>